@import 'base.css';

#app {
  margin: 0 auto;
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s,
  background-color 0.5s;
  line-height: 1.6;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}